@model AdModel
@{
    ViewData["Title"] = "AddNew";
}
@Html.ValidationSummary()
@TempData["message"]
<h3>Add new ad</h3>

<div>
    <form class="form-horizontal" asp-controller="Ads" asp-action="AddNew" method="post">
        <div class="form-group">
            <label class="col-sm-2 control-label">Category</label>
            <div class="col-sm-10">
                <select class="form-control" asp-for="CategoryId" asp-items="@(new SelectList(Model.Categories, "Id", "Title"))">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
                <input asp-for="Title" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Price</label>
            <div class="col-sm-10">
                <input asp-for="Price" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Place</label>
            <div class="col-sm-10">
                <input asp-for="Place" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Phone</label>
            <div class="col-sm-10">
                <input asp-for="Phone" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
                <input asp-for="Email" class="form-control" readonly="readonly"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                <textarea asp-for="Description"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Add photo link</label>
            <div class="col-sm-10">
                <input asp-for="Photo" class="form-control" />
            </div>
        </div>
        <div><button type="submit" class="btn btn-default" style="background-color:royalblue; color:white">Add</button></div>
    </form>
</div>
